
EmployeeList/.vs/EmployeeSol/FileContentIndex/55d9135c-48b7-43fa-88f8-26bc68946d95.vsidx
EmployeeList/.vs/EmployeeSol/FileContentIndex/read.lock
EmployeeList/.vs/EmployeeSol/v17/.suo
EmployeeList/.vs/EmployeeSol/v17/Browse.VC.db
EmployeeList/.vs/EmployeeSol/v17/Browse.VC.db-shm
EmployeeList/.vs/EmployeeSol/v17/Browse.VC.db-wal
EmployeeList/.vs/EmployeeSol/v17/Browse.VC.opendb
